
<h1>
  <strong>Title:</strong>
  <%= @post.title %>
</h1>

<hr/>

<p>
  <strong>Contents:</strong>
  <%= @post.contents %>
</p>
<!-- edit_post_path(@post) post.id 라도 @post로 사용가능-->
<%= link_to '수정', edit_post_path(@post), class: "btn btn-warning text-white "%> |
<%= link_to '목록', posts_path ,class: "btn btn-info text-white"%> |
<%= link_to '삭제', post_path(@post),class: "btn btn-danger text-white",method: "delete"%>

<!-- 댓글-->
<%=render 'comments/form', post: @post%>

 


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">content</th>
      <th scope="col">Button</th>
    </tr>
  </thead>
  <tbody>
    <% @post.comments.each do |comment|%>
    <tr>
      <th scope="row"><%=comment.id%></th>
      <td><%= comment.content%></td>
      <td><%= link_to "삭제", "/comments/#{comment.id}",method: "delete"%></td>
    </tr>
   <%end%>
  </tbody>
</table>